h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgb(158, 74, 74);
   text-align: center;
}
.little{
    color: rgb(206, 191, 221);
}
img{
    height: 500px;
    width: 500px;
    padding: auto;
}